body {
	font-family: 'Open Sans';
}


header {
	background-image: url("homework2_headerimage.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    font-size: 24px;
    font-weight: 600;
	color: white;
	padding: 0 0 100px 0;

}
/*ND: What's happening with the spacing here? You have four lines indented in more than the others*/

h1 {
	font-weight: 800;
	padding: 25px 25px 25px 40px;
}


header p {
	text-align: center;
	padding: 0 0 10px 0;
}


.getnowbox {
	color: #033048;
	font-weight: 800;
	font-size: 14px;
	text-align: center;
	width: 75px;
	background-color: #f9e42e;
	border-radius: 5px;
	padding: 10px 30px 10px 30px;
	margin: 0 auto;
}


.benefitsbox {
	background-color: #f0efef;
	background-size: 100% 100%;
	padding: auto 0 25px 0;

}
/*ND: Don't need an extra line before the closing tag*/

section.benefitsbox h2 {
	font-size: 20px;
	font-weight: 600;
	color: #033048;
	padding: 25px 25px 0 40px;
}
/*ND: So since you gave only that section the class of benefitsbox, you don't need to specify the
section element for this to work */

section.benefitsbox p {
	font-size: 13px;
	font-weight: 300;
	color: black;
	float: left;
	width: 28%;
	padding: 5px 25px 5px 40px;

}

section.benefitsbox ul {
	font-size: 13px;
	font-weight: 300;
	color: black;
	clear: left;
	width: auto;
	padding: 5px 25px 25px 70px;

}


.testimonialbox {
	background-image: url("homework2_testimonialimage.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
	font-weight: 300 italic;
	font-size: 18px;
	color: white;
	padding: 0 0 30px 0;

}

section.testimonialbox p {
	text-align: center;
	width: 40%;
	padding: 60px 25px 0 40px;
	margin: 0 auto;
}


.quotename {
	font-weight: 600;

}

#signupbox {
	background-color: #f9e42e;
	background-size: 100% 100%;
	font-weight: 800;
	font-size: 12px;
	color: white;
	padding: 20px 0 20px 0;

}

#signupbox p {
	background-color: #033048;
	border-radius: 5px;
	text-align: center;
	width: 120px;
	padding: 15px 25px 15px 25px;
	margin: 0 auto;

}

footer {
	background-color: #000000;
	background-size: 100% 100%;
	font-weight: 800;
	font-size: 24px;
	padding: 20px 0 20px 0;
	color: #f9e42e;

}

footer h3 {
	text-align: center;
	padding: 10px 20px 10px 20px;
}

.twitter {
	text-align: right;
	float: left;
	width: 48.5%;

}

.facebook {
	text-align: left;
	float: right;
	width: 47%;

}

footer p {
	text-align: center;
	font-size: 9px;
	font-weight: 600;
	color: white;
	clear: left;
	clear: right;
	padding: 30px 0 20px 0;
}

/*ND: Did you have issues using float to make more than one column? Let me know if you need help with that.*/
